저상버스의 노선별 정류소간 소요시간을 저장하는 DB

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy.sql import select

In [2]:
engine = create_engine("sqlite:///", echo=True)
metadata = MetaData()

time_btw_st = Table('time_btw_st', metadata, 
              Column('_id', Integer, primary_key =True, autoincrement=True ),
              Column('routeId', Integer, nullable = False),
              Column('day', String(8), nullable = False), 
              Column('time',String(6), nullable = False),
              Column('nextStTm',Integer),
              Column('posX',String), 
              Column('posY',String))  

metadata.create_all(engine) 
conn = engine.connect()

2018-08-15 18:57:11,203 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-08-15 18:57:11,210 INFO sqlalchemy.engine.base.Engine ()
2018-08-15 18:57:11,211 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-08-15 18:57:11,212 INFO sqlalchemy.engine.base.Engine ()
2018-08-15 18:57:11,213 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("time_btw_st")
2018-08-15 18:57:11,214 INFO sqlalchemy.engine.base.Engine ()
2018-08-15 18:57:11,216 INFO sqlalchemy.engine.base.Engine
CREATE TABLE time_btw_st (
	_id INTEGER NOT NULL,
	"routeId" INTEGER NOT NULL,
	day VARCHAR(8) NOT NULL,
	time VARCHAR(6) NOT NULL,
	"nextStTm" INTEGER,
	"posX" VARCHAR,
	"posY" VARCHAR,
	PRIMARY KEY (_id)
)


2018-08-15 18:57:11,217 INFO sqlalchemy.engine.base.Engine ()
2018-08-15 18:57:11,218 INFO sqlalchemy.engine.base.Engine COMMIT

입력한 버스노선의 위치를 실시간으로 추적하며 정류장 간 소요시간을 시간별로 저장하는 함수

In [3]:
import requests
from bs4 import BeautifulSoup
import time

In [4]:
url =  "http://ws.bus.go.kr/api/rest/buspos/getLowBusPosByRtid"
serviceKey = "ifKRU73xKAdgp5Z2cQ6BDZSHhEOvKL8TNiEegFTFxtM9AWL6l0Wx8WJ4DfmQDZrTjjb509tqW0hO2wA9FE%2BWsQ%3D%3D"
routeID = "100100055"
routeIDs = []

버스 한 대의 현재 위치와 다음 정류장까지의 소요시간, 종점까지의 소요시간 등의 데이터를 불러오는 함수

In [5]:
def getbus(routeID, vehID=None):
    data = requests.get(url+ "?serviceKey="+serviceKey+"&busRouteId="+routeID)
    xml = BeautifulSoup(data.text, "lxml")
    
    try:
        busList = xml.findAll("itemlist")   #해당 노선의 현재 운행중인 모든 저상버스
        
        if vehID==None:
            bus = busList[0]   #추적 중인 버스가 없을 때는 가장 최근에 운행을 시작한 버스를 추적
            
        else:
            bus = xml.find('vehid', text=vehID).findParent()   #추적 중인 버스가 있을 때는 해당 버스를 계속 추적
            
        busData = { 'vehId':bus.vehid.text,'date': bus.datatm.text[:8], 'time':bus.datatm.text[8:], 'sectionId':int(bus.sectionid.text),
                   'nextStTm': int(bus.nextsttm.text), 'lastStTm': int(bus.laststtm.text),'stopflag':int(bus.stopflag.text),
                   'posX': float(bus.tmx.text), 'posY':float(bus.tmy.text)
                  }
        return busData
    
    except:   #해당 노선의 현재 운행 중인 버스가 없을 경우 빈 리스트 반환
        return {}

해당 노선의 운행중인 저상버스를 운행 종료시까지 20초 간격으로 반복 호출하며 시간별 정류장 사이의 소요시간을 DB에 저장

In [13]:
def makeTimeDB(routeID):
    try:  #노선id가 존재하지 않거나 운행이 종료되어 현재 운행중인 버스가 없는 경우 종료
        while True:  
            temp = getbus(routeID)
            
            if not temp: #더이상 운행하는 버스가 없을 때 반복 종료
                break
              
            nextStTm = temp['nextStTm']     #다음 정류장 소요시간
            lastStTm = temp['lastStTm']     #종점 소요시간  
            stop = temp['stopflag']
            time.sleep(20)

            while nextStTm <= lastStTm:   #종점까지의 소요시간이 다음 정거장까지의 소요시간보다 짧을 때(즉 종점에 다다랐을 때) 종료
                temp = getbus(routeID, temp['vehId'])
                print("last: ",lastStTm)
                print("next_p: ",nextStTm)
                print("next_c: ",temp['nextStTm'])
                print('stop: ', temp['stopflag'])
                if (not stop and temp['stopflag']) or nextStTm < temp['nextStTm']: #정류장에 도착했거나 정류장을 지나간 경우
                    conn.execute(time_btw_st.insert(), routeId = routeID, day = temp['date'], time = temp['time'],
                                               nextStTm = temp['nextStTm'], posX = temp['posX'], posY = temp['posY']) 

                lastStTm = temp['lastStTm']
                nextStTm = temp['nextStTm']
                stop = temp['stopflag']
                time.sleep(20)
                
        return 1

    except:
        return 0

In [14]:
makeTimeDB(routeID)

last:  10662
next_p:  668
next_c:  668
stop:  0
last:  10662
next_p:  668
next_c:  581
stop:  1
2018-08-14 12:05:30,622 INFO sqlalchemy.engine.base.Engine INSERT INTO time_btw_st ("routeId", day, time, "nextStTm", "posX", "posY") VALUES (?, ?, ?, ?, ?, ?)
2018-08-14 12:05:30,623 INFO sqlalchemy.engine.base.Engine ('100100055', '20180814', '120527', 581, 127.176941, 37.565812)
2018-08-14 12:05:30,625 INFO sqlalchemy.engine.base.Engine COMMIT
last:  10603
next_p:  581
next_c:  581
stop:  0
last:  10603
next_p:  581
next_c:  520
stop:  1
2018-08-14 12:06:10,793 INFO sqlalchemy.engine.base.Engine INSERT INTO time_btw_st ("routeId", day, time, "nextStTm", "posX", "posY") VALUES (?, ?, ?, ?, ?, ?)
2018-08-14 12:06:10,794 INFO sqlalchemy.engine.base.Engine ('100100055', '20180814', '120607', 520, 127.174011, 37.564139)
2018-08-14 12:06:10,796 INFO sqlalchemy.engine.base.Engine COMMIT
last:  10538
next_p:  520
next_c:  520
stop:  1
last:  10538
next_p:  520
next_c:  520
stop:  0
last:  10538
next_p:  520
next_c:  434
stop:  1
2018-08-14 12:07:14,033 INFO sqlalchemy.engine.base.Engine INSERT INTO time_btw_st ("routeId", day, time, "nextStTm", "posX", "posY") VALUES (?, ?, ?, ?, ?, ?)
2018-08-14 12:07:14,034 INFO sqlalchemy.engine.base.Engine ('100100055', '20180814', '120707', 434, 127.170447, 37.561162)
2018-08-14 12:07:14,036 INFO sqlalchemy.engine.base.Engine COMMIT
last:  10444
next_p:  434
next_c:  434
stop:  1
last:  10444
next_p:  434
next_c:  434
stop:  0
last:  10444
next_p:  434
next_c:  394
stop:  1
2018-08-14 12:08:14,258 INFO sqlalchemy.engine.base.Engine INSERT INTO time_btw_st ("routeId", day, time, "nextStTm", "posX", "posY") VALUES (?, ?, ?, ?, ?, ?)
2018-08-14 12:08:14,259 INFO sqlalchemy.engine.base.Engine ('100100055', '20180814', '120808', 394, 127.171086, 37.558615)
2018-08-14 12:08:14,262 INFO sqlalchemy.engine.base.Engine COMMIT

0

DB 입력 확인

In [15]:
for row in conn.execute(select([time_btw_st])):
    print(row)

2018-08-14 12:08:54,031 INFO sqlalchemy.engine.base.Engine SELECT time_btw_st._id, time_btw_st."routeId", time_btw_st.day, time_btw_st.time, time_btw_st."nextStTm", time_btw_st."posX", time_btw_st."posY"
FROM time_btw_st
2018-08-14 12:08:54,032 INFO sqlalchemy.engine.base.Engine ()
(1, 100100055, '20180814', '115501', 1214, '127.155935', '37.555362')
(2, 100100055, '20180814', '120246', 668, '127.178364', '37.564645')
(3, 100100055, '20180814', '120306', 668, '127.178305', '37.564781')
(4, 100100055, '20180814', '120527', 581, '127.176941', '37.565812')
(5, 100100055, '20180814', '120607', 520, '127.174011', '37.564139')
(6, 100100055, '20180814', '120707', 434, '127.170447', '37.561162')
(7, 100100055, '20180814', '120808', 394, '127.171086', '37.558615')